.list-table {
    width: 70%;
    min-height: 50vh;
    margin: 100px auto;
    border-collapse: collapse;
 }
 
 td,
 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
 }
 th {
   color: #198754;
 }
 
 tr:nth-child(even) {
    background-color: #dddddd;
 }
 